html
html
   head
      title Summit Skills
   body
      form(action = "/AddSkills", method = "POST")
         div
            label(for = "say") Name Of Skill:
            input(name = "Name")
         br
         div
            label(for = "to") ID of Skill:
            input(name = "ID")
         br
         button(type = "submit") Create NEW Skill