html
html
   head
      title Summit Skills
   body
      form(action = "/AddSkills", method = "POST")
         div
            label(for = "say") Name:
            input(name = "Name Of Skill")
         br
         div
            label(for = "to") ID:
            input(name = "ID Of Skill")
         br
         button(type = "submit") Create NEW Skill