html
html
   head
      title Summit
   body
      form(action = "/AddPeople", method = "POST")
         div
            label(for = "say") Name Of Person:
            input(name = "Name")
         br
         div
            label(for = "to") ID of Person:
            input(name = "ID")
         br
         button(type = "submit") Create NEW Person