html
html
   head
      title Summit
   body
      form(action = "/SkillsFramework", method = "POST")
         div
            label(for = "say") Name:
            input(name = "Name" value = "Example Name")
         br
         div
            label(for = "to") ID:
            input(name = "ID" value = "0000000")
         br
         button(type = "submit") Create Person