html
html
   head
      title Add Skills to people!
   body    
      form(action = '/AddSkillToPerson',method ="POST")
         div
            label(for = "say") ID Of Person:
            input(name = "PersonID")
         br
         div
            label(for = "to") ID of Skill:
            input(name = "SkillID")
         br
         button(type = "submit") Add Skill to Person